/******FONTS*******
*******************/

@font-face {
    font-family: "gotham-black";
    src: url("../../fonts/gotham-black.otf");
}

@font-face {
    font-family: "gotham-bold";
    src: url("../../fonts/gotham-bold.otf");
}

@font-face {
    font-family: "gotham-medium";
    src: url("../../fonts/gotham-medium.otf");
}

@font-face {
    font-family: "gotham-book";
    src: url("../../fonts/gotham-book.otf");
}

body {
    font-family: 'gotham-book', Verdana, Tahoma, sans-serif;
}

h1,
h2 {
    font-family: 'gotham-bold', Verdana, Tahoma, sans-serif;
}

h1 {
    font-size: 56px;
}

small {
    font-size: 75%;
}

.gotham-black {
    font-family: 'gotham-black', Verdana, Tahoma, sans-serif;
}

.gotham-bold {
    font-family: 'gotham-bold', Verdana, Tahoma, sans-serif;
}

.gotham-medium {
    font-family: 'gotham-medium', Verdana, Tahoma, sans-serif;
}

.gotham-book {
    font-family: 'gotham-book', Verdana, Tahoma, sans-serif;
}


/*****CONFIGS******
******************/

.bmd-form-group label {
    color: #373737 !important;
}

.navbar {
    z-index: 997 !important;
}

.modal {
    z-index: 999 !important;
}

.modal-backdrop {
    z-index: 998 !important;
}


/*****CONFIGS******
******************/

#login_page .col-lg-5 {
    margin-top: 10%;
    background: #fff;
    padding: 3rem;
}

.modal {
    overflow: auto !important;
}


/****DASHBOARD*****
******************/

.form-group input[type=file] {
    z-index: 1000;
    bottom: 2rem;
    height: 40px;
    top: unset;
}

#btn_add_featured {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border-radius: 100%;
    width: 50px !important;
    height: 50px !important;
    border: none;
    color: #fff;
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    cursor: pointer;
}

@keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@-webkit-keyframes lds-rolling {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.lds-rolling {
    position: relative;
}

.lds-rolling div,
.lds-rolling div:after {
    position: absolute;
    width: 160px;
    height: 160px;
    border: 20px solid #ffffff;
    border-top-color: transparent;
    border-radius: 50%;
}

.lds-rolling div {
    -webkit-animation: lds-rolling 1s linear infinite;
    animation: lds-rolling 1s linear infinite;
    top: 100px;
    left: 100px;
}

.lds-rolling div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.lds-rolling {
    -webkit-transform: translate(-100px, -100px) scale(0.15) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(0.15) translate(100px, 100px);
    position: absolute;
    right: -2rem;
    bottom: -2.75rem;
}